# build output
bin/
obj/
artifacts/
output/
.fsdocs/
tmp/
node_modules/
test-results/
.nuget/
src/SIR.Client.Web/.fable/
src/SIR.Client.Web/.fable-rules/
src/SIR.Client.Web/fable/

# local tooling
.vs/
.idea/
*.user
